.about {
    background-color: #1C1D20;
    padding-top: 100px;
    padding-bottom: 100px;

    &__list {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    &__item:nth-child(1) {
        background-color: #242527;
        width: 680px;
        height: 700px;
        border-radius: 24px;

    }

    &__item:nth-child(2) {
        width: 680px;
        height: 700px;
    }

    &__img {
        border-radius: 24px;
    }

    &__title {
        font-family: "Inter Tight";
        font-weight: 500;
        font-size: 38px;
        line-height: 105%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        padding-top: 70px;
        padding-left: 65px;
        width: 602px;
    }
}

.red-title {
    color: #ED3B44;
}

.gray-title {
    color: rgb(131, 131, 131);
}