<section class="about">
  <div class="container">
  <ul class="about__list">
    <li class="about__item">
      <h3 class="about__title">
        I work with people all over the world to create impressive and
        <span class="red-title">functional</span>
        <span class="gray-title">websites</span> that reflect each client's
        unique personality.
      </h3>
    </li>
    <li class="about-item">
      <picture>
        <source srcset="./images/desktop/man@1x.webp 1x, ./images/desktop/man@2x.webp 2x" media="(min-width: 1200px)">
        <source srcset="./images/tablet/man@1x.webp 1x, ./images/tablet/man@2x.webp 2x" media="(min-width: 768px)">
        <source srcset="./images/mobile/man@1x.webp 1x, ./images/mobile/man@2x.webp 2x" media="(min-width: 320px)">
        <img class="about__img" src="./images/about-character.png" alt="me" />
      </picture>

    </li>
  </ul>
</div>
</section>
