<section class="advertising">
    <div class="container">
        <img src="..." alt="Chego Jewerly">
        <img src="..." alt="Power Pulse">
        <img src="..." alt="MIMINO">
        <img src="..." alt="Wallet">
        <img src="..." alt="thewatchspot">
        <img src="..." alt="Ukrainian artisty">
        <img src="..." alt="GREEN.HARVEST">
        <img src="..." alt="energy.flow">
        <img src="..." alt="fruitbox">
        <img src="..." alt="englishexcellence.">
    </div>
</section>
