<section class="advertising">
    <div class="container">
        <img class="advertising__image advertising__image-chegojewerly" src="..." alt="Chego Jewerly">
        <img class="advertising__image advertising__image-powerpulse" src="..." alt="Power Pulse">
        <img class="advertising__image advertising__image-mimino" src="..." alt="MIMINO">
        <img class="advertising__image advertising__image-wallet" src="..." alt="Wallet">
        <img class="advertising__image advertising__image-thewathspot" src="..." alt="thewatchspot">
        <img class="advertising__image advertising__image-ukrainianartisty" src="..." alt="Ukrainian artisty">
        <img class="advertising__image advertising__image-greenharvest" src="..." alt="GREEN.HARVEST">
        <img class="advertising__image advertising__image-energyflow" src="..." alt="energy.flow">
        <img class="advertising__image advertising__image-fruitbox" src="..." alt="fruitbox">
        <img class="advertising__image advertising__image-englishexcellence" src="..." alt="englishexcellence.">
    </div>
</section>
