<section class="faq">
    <div class="container">
        <h2 class="faq__title">FAQ</h2>
        <div class="faq__line-left"></div>
        <ul class="faq__list">
            <li class="faq__item">
                <input type="checkbox" name="faq__accordion" id="cb1" checked>
                <label for="cb1" class="faq__subtitle">What programming languages ​​are most often used in your project?</label>
                <div class="faq__paragraph">
                    <p class="faq__text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
                </div>
            </li>
            <li class="faq__item">
                <input type="checkbox" name="faq__accordion" id="cb2" checked>
                <label for="cb2" class="faq__subtitle">How can I contact you?</label>
                <div class="faq__paragraph">
                    <p class="faq__text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
                </div>
            </li>
            <li class="faq__item">
                <input type="checkbox" name="faq__accordion" id="cb3" checked>
                <label for="cb3" class="faq__subtitle">What are the deadlines for the project?</label>
                <div class="faq__paragraph">
                    <p class="faq__text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
                </div>
            </li>
            <li class="faq__item">
                <input type="checkbox" name="faq__accordion" id="cb4" checked>
                <label for="cb4" class="faq__subtitle">Do you provide advice or support?</label>
                <div class="faq__paragraph">
                    <p class="faq__text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
                </div>
            </li>
            <li class="faq__item">
                <input type="checkbox" name="faq__accordion" id="cb5" checked>
                <label for="cb5" class="faq__subtitle">What payment methods do you accept?</label>
                <div class="faq__paragraph">
                    <p class="faq__text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
                </div>
            </li>
            <li class="faq__item">
                <input type="checkbox" name="faq__accordion" id="cb6" checked>
                <label for="cb6" class="faq__subtitle">What does the process of developing a software product look like from idea to implementation?</label>
                <div class="faq__paragraph">
                    <p class="faq__text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
                </div>
            </li>
        </ul>
        <div class="faq__line-right"></div>
    </div>
</section>
