<section class="faq">
    <div class="container">
        <h2 class="faq__title">FAQ</h2>
        <ul class="faq__list">
            <li class="faq__item">
                <div class="faq__circle">
                    <a class="faq__close-link" href="#">
                        <svg class="faq__close-icon">
                            <!-- <use href="..."></use> -->
                        </svg>
                    </a>
                </div>
                <div class="faq__paragraph">
                    <h3 class="faq__subtitle">What programming languages ​​are most often used in your project?</h3>
                    <p class="faq__text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
                </div>
            </li>
            <li class="faq__item">
                <div class="faq__circle">
                    <a class="faq__close-link" href="#">
                        <svg class="faq__close-icon">
                            <!-- <use href="..."></use> -->
                        </svg>
                    </a>
                </div>
                <div class="faq__paragraph">
                    <h3 class="faq__subtitle">How can I contact you?</h3>
                    <p class="faq__text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
                </div>
            </li>
            <li class="faq__item">
                <div class="faq__circle">
                    <a class="faq__close-link" href="#">
                        <svg class="faq__close-icon">
                            <!-- <use href="..."></use> -->
                        </svg>
                    </a>
                </div>
                <div class="faq__paragraph"></div>
                    <h3 class="faq__subtitle">What are the deadlines for the project?</h3>
                    <p class="faq__text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
                </div>
            </li>
            <li class="faq__item">
                <div class="faq__circle">
                    <a class="faq__close-link" href="#">
                        <svg class="faq__close-icon">
                            <!-- <use href="..."></use> -->
                        </svg>
                    </a>
                </div>
                <div class="faq__paragraph">
                    <h3 class="faq__subtitle">Do you provide advice or support?</h3>
                    <p class="faq__text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
                </div>
            </li>
            <li class="faq__item">
                <div class="faq__circle">
                    <a class="faq__close-link" href="#">
                        <svg class="faq__close-icon">
                            <!-- <use href="..."></use> -->
                        </svg>
                    </a>
                </div>
                <div class="faq__paragraph">
                    <h3 class="faq__subtitle">What payment methods do you accept?</h3>
                    <p class="faq__text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
                </div>
            </li>
            <li class="faq__item">
                <div class="faq__circle">
                    <a class="faq__close-link" href="#">
                        <svg class="faq__close-icon">
                            <!-- <use href="..."></use> -->
                        </svg>
                    </a>
                </div>
                <div class="faq__paragraph">
                    <h3 class="faq__subtitle">What does the process of developing a software product look like from idea to implementation?</h3>
                    <p class="faq__text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
                </div>
            </li>
        </ul>
    </div>
</section>
