<section class="footer">
    <div class="container">
        <div class="footer__container">
            <div class="footer__title-box">
                <picture>
                    <source srcset="./images/mobile/footer-icon@1x.webp 1x, ./images/mobile/footer-icon@2x.webp 2x" media="(min-width: 320px)">
                    <source srcset="./images/tablet/footer-icon@1x.webp 1x, ./images/tablet/footer-icon@2x.webp 2x" media="(min-width: 768px)">
                    <source srcset="./images/desktop/footer-icon@1x.webp 1x, ./images/desktop/footer-icon@2x.webp 2x" media="(min-width: 1200px)">
                    <img class="footer__img" src="./images/mobile/footer-icon@1x.webp" alt="logo">
                </picture>
                <h2 class="footer__title">Let’s <span>work</span></h2>
            </div>

            <h2 class="footer__title">together</h2>
            <form class="footer__form">
                <input class="footer__input" type="email" placeholder="clients@gmail.com">
                <input class="footer__input" type="text" placeholder="comments">
                <button type="button" class="footer__button" data-modal-open>Send</button>
            </form>

            <div class="footer__contacts-box">
                <a href="mailto:lloydjefferson@gmail.com" class="footer__link">lloydjefferson@gmail.com</a>
                <a href="tel:+3801111111111" class="footer__link">+380 11 1111 11 11</a>
            </div>
        </div>
    </div>
</section>