<section class="about">
    <div class="container">
<ul class="about_list">

        <li class="about_item">
        <h2 class="about_title">About me</h2>
        <img class="about_img" src="../images/Button.png" alt="123">
        </li>
</ul>
<br>
<div class="about_box">
        <ul class="about_list-text">
        <li class="about_item-text">
        <p class="about_text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise in software <br> development. I have an understanding of different programming languages ​​and <br> technologies, always ready to improve my skills. I always follow the latest trends and look <br> for unconventional, creative solutions to problems. I have a high level of analytical skills and <br> am able to effectively solve even the most difficult tasks encountered on the way.
        </p>
        </li>
        </ul>
        <br>
        <ul class="about_list-text">
        <li class="about_item-text">
        <p class="about_text">
            Able to work both independently and in a team. I can effectively cooperate with colleagues, <br> exchanging ideas and finding optimal solutions. Professional maturity allows you to calmly <br> cope with challenges and stressful situations, while maintaining a high quality of work. <br>I am always looking for opportunities for self-improvement. I actively study new <br> technologies and practices to stay abreast of the latest innovations. I have a strong <br> understanding of various programming languages, frameworks and architectural concepts <br> that allow me to create efficient and scalable software.
        </p>
        </li>
</ul>
</div>
<br>

        <hr>
        <br>
        <ul class="about_list">

        <li class="about_item">
        <h2 class="about_title">ROLE</h2>
        <img class="about_img" src="../images/Button-2.png" alt="123">
        </li>
        </ul>
        <br>
        <hr>
        <br>
        <ul class="about_list">

        <li class="about_item">
        <h2 class="about_title">EDUCATION</h2>
        <img class="about_img" src="../images/Button-2.png" alt="123">
        </li>
        </ul>
        <br>
            <hr>
    </div>
    </section>
