<section class="hero">
  <div class="container">
    <h1 class="hero__title">Hello. I’m Fullstack developer Lloyd Jefferson.</h1>
    <ul class="hero__list">
        <li class="hero__item"><a href="https://www.instagram.com" class="hero__link">IG</a></li>
        <li class="hero__item"><a href="https://web.telegram.org/k/" class="hero__link">TG</a></li>
        <li class="hero__item"><a href="https://www.youtube.com" class="hero__link">YT</a></li>
        <li class="hero__item"><a href="https://github.com" class="hero__link">GH</a></li>
        <li class="hero__item"><a href="mailto:lloydjefferson@gmail.com" class="hero__link">lloydjefferson@gmail.com</a></li>
    </ul>
  </div>
</section>
