<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <h2 class="modal__title">Thank you for your interest in cooperation!</h2>
        <p class="modal__text">The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.</p>
        <button class="modal__button" data-modal-close>
            <svg class="modal__svg">
                <use href="../images/symbol-defs.svg#icon-modal-close"></use>
            </svg>
        </button>
    </div>
</div>