<section class="projects">
    <div class="container">
        <h2 class="projects__title">Projects</h2>
        <ul class="projects__cards">
            <li class="projects__card">
                <div class="projects__text-box">
                    <ul class="projects__hashtags">
                        <li class="projects__hashtag">
                            <p class="projects__hashtag-text">#react</p>
                        </li>
                        <li class="projects__hashtag">
                            <p class="projects__hashtag-text">#js</p>
                        </li>
                        <li class="projects__hashtag">
                            <p class="projects__hashtag-text">#node js</p>
                        </li>
                        <li class="projects__hashtag">
                            <p class="projects__hashtag-text">#git</p>
                        </li>
                    </ul>
                    <h3 class="projects__card-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                    <button class="projects__card-btn">See project</button>
                </div>
                <img src="#" alt="my project" class="projects__img">
            </li>
            <li class="projects__card">
                <div class="projects__text-box">
                    <ul class="projects__hashtags">
                        <li class="projects__hashtag">
                            <p class="projects__hashtag-text">#react</p>
                        </li>
                        <li class="projects__hashtag">
                            <p class="projects__hashtag-text">#js</p>
                        </li>
                        <li class="projects__hashtag">
                            <p class="projects__hashtag-text">#node js</p>
                        </li>
                        <li class="projects__hashtag">
                            <p class="projects__hashtag-text">#git</p>
                        </li>
                    </ul>
                    <h3 class="projects__card-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                    <button class="projects__card-btn">See project</button>
                </div>
                <img src="#" alt="my project" class="projects__img">
            </li>
            <li class="projects__card">
                <div class="projects__text-box">
                    <ul class="projects__hashtags">
                        <li class="projects__hashtag">
                            <p class="projects__hashtag-text">#react</p>
                        </li>
                        <li class="projects__hashtag">
                            <p class="projects__hashtag-text">#js</p>
                        </li>
                        <li class="projects__hashtag">
                            <p class="projects__hashtag-text">#node js</p>
                        </li>
                        <li class="projects__hashtag">
                            <p class="projects__hashtag-text">#git</p>
                        </li>
                    </ul>
                    <h3 class="projects__card-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                    <button class="projects__card-btn">See project</button>
                </div>
                <img src="#" alt="my project" class="projects__img">
            </li>
        </ul>
        <ul class="projects__buttons">
            <li class="projects__item">
                <button class="projects__btn">
                    <svg class="projects__svg">
                        <use href="#"></use>
                    </svg>
                </button>
            </li>
            <li class="projects__item">
                <button class="projects__btn">
                    <svg class="projects__svg">
                        <use href="#"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>