<section class="reviews">
    <div class="container">
        <h3 class="reviews__title">Reviews</h3>
        <ul class="reviews__list">
            <li class="reviews__item reviews__first-img">
                <picture>
                    <source srcset="./images/desktop/reviews-icon1.webp 1x, ./images/desktop/reviews-icon1@2x.webp 2x" media="min-width: 1200px">
                    <source srcset="./images/desktop/reviews-icon1.webp 1x, ./images/desktop/reviews-icon1@2x.webp 2x" media="min-width: 768px">
                    <source srcset="./images/mobile/reviews-icon@1x.webp 1x, ./images/mobile/reviews-icon@2x.webp 2x" media="min-width: 320px">
                    <img src="./images/desktop/reviews-icon1.webp" alt="photo" class="reviews__img">
                </picture>

                <h3 class="reviews__name">Natalia</h3>
                <p class="reviews__text">Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations</p>
            </li>
            <li class="reviews__item reviews__second-img">
                <picture>
                    <source srcset="./images/desktop/reviews-icon2@1x.webp 1x, ./images/desktop/reviews-icon2@2x.webp 2x" media="min-width: 1200px">
                    <source srcset="./images/desktop/reviews-icon2@1x.webp 1x, ./images/desktop/reviews-icon2@2x.webp 2x" media="min-width: 768px">
                    <img src="./images/desktop/reviews-icon2@1x.webp" alt="photo" class="reviews__img">
                </picture>

                <h3 class="reviews__name">Dmytro</h3>
                <p class="reviews__text">I have the honor to recommend him as an exceptional professional in his field. His knowledge and expertise are undeniable. Cooperation with him always brings impressive results.</p>
            </li>
            <li class="reviews__item reviews__third-img">
                <picture>
                    <source srcset="./images/desktop/reviews-icon3@1x.webp 1x, ./images/desktop/reviews-icon3@2x.webp 2x" media="min-width: 1200px">
                    <img src="./images/desktop/reviews-icon3@1x.webp" alt="photo" class="reviews__img">
                </picture>

                <h3 class="reviews__name">Anna</h3>
                <p class="reviews__text">The developed project impresses with its quality and efficiency. The code is cleanly written and the functionality exceeds expectations. Extremely satisfied with the cooperation!</p>
            </li>
            <li class="reviews__item reviews__fourth-img">
                <picture>
                    <source srcset="./images/desktop/reviews-icon4@1x.webp 1x, ./images/desktop/reviews-icon4@2x.webp 2x" media="min-width: 1200px">
                <img src="./images/desktop/reviews-icon4@1x.webp" alt="photo" class="reviews__img">
                </picture>

                <h3 class="reviews__name">Ivetta</h3>
                <p class="reviews__text">Thanks for the excellent work on the project! His talent and professionalism deserve recognition. I recommend it to everyone who is looking for an expert in the field of software development.</p>
            </li>
        </ul>

        <ul class="reviews__btn-list">
            <li class="reviews__btn-item">
                <button class="reviews__btn reviews__first-btn">
                    <svg class="reviews-svg reviews__first-svg">
                        <use href="../images/symbol-defs.svg#icon-arrow-reviews"></use>
                    </svg>
                </button>
            </li>
            <li class="reviews__btn-item">
                <button class="reviews__btn reviews-second-btn">
                    <svg class="reviews-svg reviews__second-svg">
                        <use href="../images/symbol-defs.svg#icon-arrow-reviews"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>