<section class="skills">
  <div class="container">
    <ul class="skills__list">
      <li class="skills__item skills__item1">
        <div class="skills__text-border">
          <p class="skills__text">HTML/CSS</p>
        </div>
      </li>
      <li class="skills__item skills__item2">
        <div class="skills__text-border">
          <p class="skills__text">JavaScript</p>
        </div>
      </li>
      <li class="skills__item skills__item3">
        <div class="skills__text-border">
          <p class="skills__text">React</p>
        </div>
      </li>
      <li class="skills__item skills__item4">
        <div class="skills__text-border">
          <p class="skills__text">Node.js</p>
        </div>
      </li>
      <li class="skills__item skills__item5">
        <div class="skills__text-border">
          <p class="skills__text">React Native</p>
        </div>
      </li>
      <li class="skills__item skills__item6">
        <div class="skills__text-border">
          <p class="skills__text">Soft skills</p>
        </div>
      </li>
    </ul>
    <!-- <button class="skills-button">
    <svg class="skills__svg">
      <use href=""></use>
    </svg>
        </button> -->
  </div>
</section>