@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  color: $main-color;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    outline: solid red;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @media screen and (min-width: 375px) {
      max-width: 375px;
    }
    @media screen and (min-width: 768px) {
      max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1440px;
    }
}